input, textarea {
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 350px;
}
input[type="email"] {
    width: 170px;
}
input[type="tel"] {
    width: 170px;
}
p.contact {
    margin-bottom: 15px;
}
.req {
    color: red;
}
.req_or {
    color: green;
}
textarea {
    width: 350px;
    height: 100px;
}
.error_msg {
    color: red;
}